---
openshift_cluster_content:
{% if _ar_os_seed_create_namespace %}
- object: Projects
  content:
  - name: {{ ar_os_seed_namespace }} Project
    template: "{{ _ar_os_seed_config_dest_templates }}/project-template.yml"
    action: create
    params_from_vars:
      NAMESPACE: "{{ ar_os_seed_namespace }}"
      NAMESPACE_DISPLAY_NAME: "{{ ar_os_seed_namespace | upper }}"
    tags:
    - projects
    post_steps:
      - role: ar_os_registry_secret
        vars:
          tmp_dep_dir:
          ar_os_registry_secret_list: {{ ar_os_seed_registry_secrets | to_json }}
          ar_os_registry_secret_namespace: {{ ar_os_seed_namespace }}
{% endif %}

{% if ar_os_seed_serviceaccounts is defined and ar_os_seed_serviceaccounts is not none %}
- object: Service Accounts for {{ deployment_phase | upper }}
  content:
{% for serviceaccount in ar_os_seed_serviceaccounts %}
  - name: {{ serviceaccount.sa_name }}-serviceaccount
    namespace: "{{ ar_os_seed_namespace }}"
    template: "{{ _ar_os_seed_config_dest_templates }}/serviceaccount-template.yml"
    action: apply
    params_from_vars:
      SA_NAME: {{ serviceaccount.sa_name }}
      SA_NAMESPACE: {{ ar_os_seed_namespace }}
    tags:
    - projects
    - serviceaccounts
{% endfor %}
    post_steps:
      - role: ar_os_scc_binding
        vars:
          tmp_dep_dir:
          ar_os_scc_binding_items: {{ ar_os_seed_serviceaccounts | to_json }}
          ar_os_scc_binding_namespace: {{ ar_os_seed_namespace }}
      - role: ar_os_secret_link
        vars:
          tmp_dep_dir:
          ar_os_secret_link_items: {{ ar_os_seed_serviceaccounts | to_json }}
          ar_os_secret_link_namespace: {{ ar_os_seed_namespace }}
{% endif %}

- object: Deployments {{ deployment_phase | upper }}
  content:
# Openshift Content
{% for content in ar_os_seed_openshift_content %}
  - name: "{{ content['name'] }}"
    namespace: "{{ ar_os_seed_namespace }}"
    template: "{{ content['template'] }}"
    action: apply
{% if 'params' in content %}
    params_from_vars:
{% set keys = content['params'].keys() %}
{% for key in keys %}
      {{ key }}: "{{ content['params'][key] }}"
{% endfor %}
{% endif %}
{% endfor %}
